<!-- Logo Bar Background -->
<div class="logo-bar"></div>

<!-- Fixed Logo -->
<img src="assets/optimal.png" alt="Optimal Logo" class="logo-top-left" />

<!-- Hamburger icon -->
<button #hamburgerRef mat-icon-button (click)="toggleMenu()" class="hamburger-btn">
  <mat-icon>menu</mat-icon>
</button>

<!-- Popout -->
<div *ngIf="menuOpen" #popoutRef class="test-popout">
  <div class="popout-buttons">
    <button mat-button (click)="navigateTo('/')">Home</button>
    <button mat-button (click)="navigateTo('/team')">Team</button>
    <button mat-button (click)="navigateTo('/faq')">FAQ</button>
    <button mat-button (click)="navigateTo('/builds')">Builds</button>
  </div>
</div>
